@import url(../variables.css);

.company-container {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.company-content {
  background-color: rgba(45, 45, 45, 0.15);
  margin: 4rem;
  padding: 1.5rem;
  border: 0.0625rem solid var(--accent-color);

  header {
    display: flex;
    justify-content: center;
  }
  .company-description {
    white-space: pre-line;
    margin: 1.25rem;
  }
  .company-details {
    margin: 1.5rem 1.25rem;
    p {
      margin: 0.25rem 0;
    }
  }
}

.map-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

#map-container {
  height: 30rem;
  width: 75%;
  /* div.leaflet-bottom.leaflet-right {
    display: none;
  } */
}
