@import url("../variables.css");

.offer-container {
  display: flex;
  flex-direction: column;
  margin-top: rem;
  align-items: center;
}
.button-position {
  margin-top: 3rem;
}

.button-back-offer {
  text-decoration: none;
  color: black;
  border-radius: 5px;
  padding: 0.3rem 1rem;
  background-color: var(--secondary-color);
  margin-left: 2rem;
}

.offer-title {
  text-align: center;
}

.offer-content {
  margin: 4rem;
  padding: 1.5rem;
  width: 60vw;
  border: 2px solid var(--accent-color);
  border-radius: 9px;
  box-shadow: rgba(100, 100, 111, 0.2) 10px 10px 15px 0px;
  header {
    display: flex;
    justify-content: center;
  }
  .offer-description {
    white-space: pre-line;
    margin: 1.25rem;
  }
  .offer-details {
    margin: 1.5rem 1.25rem;
    p {
      margin: 0.25rem 0;
    }
  }
  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.25rem;
    div {
      display: flex;
      gap: 2rem;
      margin: 0;
    }
  }
  .date-status {
    margin-top: 4rem;
  }
  a {
    text-decoration: none;
  }
  .offer-button {
    margin-top: 1rem;
    color: black;
    border: none;
    background-color: var(--secondary-color);
    height: 2rem;
    width: 18rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    height: 2.3rem;
  }
}
