@import url("../variables.css");
.avatar-icon {
  width: 1.7rem;
}
.logo-homepage {
  height: 6rem;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;

  div {
    display: flex;
    align-items: center;
    ul {
      list-style-type: none;
      display: flex;
      gap: 3rem;
      padding: 1rem;
      a {
        text-decoration: none;
        font-size: 1.15rem;
        color: inherit;
      }
      a:hover {
        text-decoration: underline;
        scale: 1.2;
        z-index: 2;
        color: var(--white);
        background-color: var(--primary-color);
        mix-blend-mode: difference;
        transition: all 150ms ease-in;
      }
    }
  }
}
